{% extends 'base.html.twig' %}

{% block title %}Hello PageMedicamentsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1><center>Nos medicaments</center></h1>

    <section class="container my-5">
        <div class="row">
            <!-- Produit 1 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="{{ asset('doliprane.webp') }}" class="card-img-top" alt="DOLIPRANE">
                    <div class="card-body">
                        <h5 class="card-title">DOLIPRANE</h5>
                        <p class="card-text">Le paracétamol, aussi appelé acétaminophène, est un composé chimique utilisé comme antalgique et antipyrétique, qui figure parmi les médicaments les plus communs, utilisés et prescrits au monde.</p>
                        <p class="card-text"><strong>Prix:</strong> $9.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>

            <!-- Produit 2 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <br>
                    <br>
                    <img src="{{ asset('efferalgan.png') }}" class="card-img-top" alt="Produit 2">
                    <div class="card-body">
                        <h5 class="card-title">EFFERALGAN</h5>
                        <p class="card-text">Ce médicament est un antalgique et un antipyrétique qui contient du paracétamol. Il est utilisé pour faire baisser la fièvre.</p>
                        <p class="card-text"><strong>Prix:</strong> $11.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
<!-- Produit 1 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="{{ asset('Dafalgan.webp') }}" class="card-img-top" alt="Produit 1">
                    <div class="card-body">
                        <h5 class="card-title">DAFALGAN</h5>
                        <p class="card-text">Ce médicament est un antalgique et un antipyrétique qui contient du paracétamol.</p>
                        <p class="card-text"><strong>Prix:</strong> $8.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>

            <!-- Produit 2 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <br>
                    <img src="{{ asset('levo.webp') }}" class="card-img-top" alt="Produit 2">
                    <div class="card-body">
                        <h5 class="card-title">LEVOTHYROX</h5>
                        <p class="card-text">Il est principalement utilisé comme traitement substitutif pour remplacer la thyroxine naturelle lorsque celle-ci n'est plus sécrétée en quantité suffisante par la thyroïde.</p>
                        <p class="card-text"><strong>Prix:</strong> $15.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
<!-- Produit 1 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="{{ asset('imodium.jpg') }}" class="card-img-top" alt="Produit 1">
                    <div class="card-body">
                        <h5 class="card-title">IMODIUM</h5>
                        <p class="card-text">Ce médicament est un antidiarrhéique qui agit en ralentissant le transit intestinal et en réduisant les sécrétions intestinales.</p>
                        <p class="card-text"><strong>Prix:</strong> $10.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>

            <!-- Produit 2 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="{{ asset('kardenic.jpg') }}" class="card-img-top" alt="Produit 2">
                    <div class="card-body">
                        <h5 class="card-title">KARDEGIC</h5>
                        <p class="card-text">Ce médicament contient de l'aspirine qui permet de fluidifier le sang.</p>
                        <p class="card-text"><strong>Prix:</strong> $15.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
<!-- Produit 1 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="{{ asset('spasfon.jpg') }}" class="card-img-top" alt="Produit 1">
                    <div class="card-body">
                        <h5 class="card-title">SPASFON</h5>
                        <p class="card-text">Le Spasfon agit contre les spasmes (contractions).</p>
                        <p class="card-text"><strong>Prix:</strong> $16.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>

            <!-- Produit 2 -->
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <img src="{{ asset('ismaig.jpg') }}" class="card-img-top" alt="Produit 2" height="200">
                    <div class="card-body">
                        <h5 class="card-title">ISIMIG</h5>
                        <p class="card-text"> Ce médicament est un vasoconstricteur puissant qui agit essentiellement sur les vaisseaux crâniens.</p>
                        <p class="card-text"><strong>Prix:</strong> $29.99</p>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
