{% extends 'base.html.twig' %}

{% block title %}Hello GestionComptableController!{% endblock %}

{% block body %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% if allFicheFrais is defined %}
            <div class="border p-3 rounded shadow mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Mois</th>
                    <th>Etat</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for ficheFrais in allFicheFrais %}
                    <tr>
                        <td>{{ ficheFrais.mois }}</td>
                        <td>{{ ficheFrais.etat.libelle }}</td>
                        <td>{{ ficheFrais.montantValid }}</td>
                        <td>
                            <a href="{{ path('app_fiche_frais_show', {'id': ficheFrais.id}) }}">See More</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
{% endblock %}