{% extends 'base.html.twig' %}

{% block title %}Hello GestionComptableController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion Comptable</h1>
            <button id="showUsers" class="btn btn-primary">Show Users</button>
            <button id="showFiches" class="btn btn-primary">Show Fiches</button>
            <div id="showUser" class="card p-5 mt-5 rounded shadow">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% if allFicheFrais is defined %}
            <div class="border p-3 rounded shadow mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Mois</th>
                    <th>Etat</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for ficheFrais in allFicheFrais %}
                    <tr>
                        <td>{{ ficheFrais.mois }}</td>
                        <td>{{ ficheFrais.etat.libelle }}</td>
                        <td>{{ ficheFrais.montantValid }}</td>
                        <td>
                            <a href="{{ path('app_fiche_frais_show', {'id': ficheFrais.id}) }}">See More</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
        </div>
        <div id="showFiche" class="card p-5 mt-5 rounded shadow">
        {% if allUsers is defined %}
            <div class="border p-3 rounded shadow mt-3">
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        document.getElementById('showUsers').addEventListener('click', function() {
            document.getElementById('usersCard').style.display = 'block';
            document.getElementById('fichesCard').style.display = 'none';
        });

        document.getElementById('showFiches').addEventListener('click', function() {
            document.getElementById('usersCard').style.display = 'none';
            document.getElementById('fichesCard').style.display = 'block';
        });
    </script>
{% endblock %}