{% extends 'base.html.twig' %}

{% block title %}Hello SaisieFicheController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Saisie Fiche (Forfait)</h1>
                        {{ form_start(formForfait, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ form_end(formForfait) }}
                        {% if envoieForfaitComfirmer %}
                            <h2 class="text-success mx-auto">Ligne Forfait bien enregistrée</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Saisie Fiche (Hors Forfait)</h1>
                        {{ form_start(formHorsForfait, {'attr': {'class': 'form-horizontal'}}) }}
                        {{ form_end(formHorsForfait) }}
                        {% if envoieHorsForfaitComfirmer %}
                            <h2 class="text-success mx-auto">Ligne Hors Forfait bien enregistrée</h2>
                        {% endif %}
                    </div>
                </div>
            </div>

            <h2>Vos Frais Hors Forfait:</h2>
            <table class="table table-bordered">
                <thead class="text-center">
                <tr>
                    <th>Libelle</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Supprimer</th>
                </tr>
                </thead>

                <tbody>
                {% for fraisHorsForfait in actualFiche.getLigneFraisHorsForfait() %}
                    <tr>
                        <td>{{fraisHorsForfait.getLibelle()}}</td>
                        <td>{{fraisHorsForfait.getMontant()}} €</td>
                        <td>{{fraisHorsForfait.getDateString()}}</td>
                        <td class="text-center"><a href="{{ path('app_delete_hors_forfait', {'id': fraisHorsForfait.getId()}) }}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                {%endfor %}
                </tbody>
            </table>
            <h3>Total: {{ actualFiche.montantAllFicheFraisHorsForfaitByUSer() }} €</h3>
        </div>
    </div>
{% endblock %}
